<ng-container *ngIf="pokemon; else showMessage">
  <div class="scale-in-center">
    <div class="d-flex justify-content-center align-items-center">
      <img *ngIf="pokemon.sprites.front_default" [src]="pokemon.sprites.front_default" width="250" alt="pokemon">
      <img *ngIf="!pokemon.sprites.front_default" src="/assets/img/wtp.jpg" width="250" alt="pokemon">
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 mb-12">
        <div class="text-center">
          <h1 class="h3 mb-0"> {{ pokemon.id | number: '3.0' }}</h1>
          <h1 class="h3 mb-0"> {{ pokemon.name | titlecase }}</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 mb-12">
        <ul class="description">
          <li>{{ type }}
            <br><span>Type</span></li>
          <li *ngIf="pokemon.weight">{{pokemon.weight}}kg<br><span>Weight</span></li>
          <li *ngIf="pokemon.height">{{pokemon.height}}m<br><span>Height</span></li>
        </ul>

        <p class="subtitle">Details</p>
        <ul class="stats">
          <li *ngFor="let pokemon of pokemon.stats">
            {{pokemon.stat?.name | titlecase}}<br>
            <span class="power">  {{pokemon.base_stat}}</span>
          </li>
        </ul>

        <p class="subtitle">Abilities</p>
        <span class="tag" *ngFor="let pokemon of pokemon.abilities">{{pokemon.ability?.name}}</span>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #showMessage>
  <div class="alert-message info">
    <strong>Please select a pokemon</strong>
  </div>
</ng-template>

