// Pokemon Brand Colors
$default: #2a75bb;
$lightblue: #2a75bb;
$yellow: #ffcb05;
$shadowYellow: #c7a008;
$white: #FFF;

// Shades
$body: #F3F5F5;
$contrast-1: #FAFAFA;
$contrast-s: #EBEEF0;
$contrast-l: #959595;

:root {
    --brand-primary: #15375F;
    --brand-secondary: #0877C7;
    --report-fontSize: 16px;
}
